<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flowclaude">

    <!-- Required to trigger install.sh inside Termux -->
    <uses-permission android:name="com.termux.permission.RUN_COMMAND" />

    <!-- Required for Android 11+ to see Termux package -->
    <queries>
        <package android:name="com.termux" />
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="FlowClaude"
        android:theme="@style/Theme.FlowClaude">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
